body {
    margin: 0;
    padding: 0;
}

header {
    height: 120px;

    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;

    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #fff;
}
